@use 'variables';

@mixin text {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
}

@mixin widthNumber {
  width: 90%;
  text-align: end;
}

@media (min-width:1024px) {

  .calculator-container {
    width: 29.06%;
    height: 83.07%;
  }

  .display {
    width: 92.40%;
    height: 18.55%;
    top: 22px;

    .sign {
      top: 25%;
      left: 5px;
      display: flex;
      align-items: center;
      @include text
    }

    .numbers-x {
      left: 8.8%;
      @include text;
      @include widthNumber;
    }

    .line {
      left: 82.2%;
      top: 46%;
      width: 16%;
      height: 2px;
    }

    .numbers-y {
      left: 8.8%;
      top: 50%;
      @include text;
      @include widthNumber;
    }

    .result {
      left: 8.8%;
      top: 25%;
      @include text;
      @include widthNumber;
    }
  }

  .numbers {
    width: 92.40%;
    height: 65.22%;
    top: 28%;
    gap: 10px;

    .num {
      width: 100%;
      height: 100%;

      p {
        @include text;
      }
    }

    .num:nth-child(12) {
      height: 100%;
    }
  }
}

@media (min-width:1360px) {

  .calculator-container {
    width: 29.95%;
    height: 85.10%;
  }

  .display {
    width: 92.40%;
    height: 18.55%;
    top: 22px;

    .sign {
      top: 25%;
      left: 5px;
      display: flex;
      align-items: center;
      @include text
    }

    .numbers-x {
      left: 8.8%;
      @include text;
      @include widthNumber;
    }

    .line {
      left: 82.2%;
      top: 46%;
      width: 16%;
      height: 2px;
    }

    .numbers-y {
      left: 8.8%;
      top: 50%;
      @include text;
      @include widthNumber;
    }

    .result {
      left: 8.8%;
      top: 25%;
      @include text;
      @include widthNumber;
    }
  }

  .numbers {
    width: 92%;
    height: 65%;
    top: 28%;
    gap: 10px;

    .num {
      width: 100%;
      height: 100%;

      p {
        @include text;
      }
    }

    .num:nth-child(12) {
      height: 100%;
    }
  }
}