@use 'variables';

@mixin text {
  font-size: 64px;
  text-align: center;
  font-weight: 400;
}

@mixin widthNumber {
  width: 90%;
  text-align: end;
}

@media (min-width:668px) {

  .calculator-container {
    width: 81.02%;
    height: 86.62%;
  }

  .display {
    width: 92.26%;
    height: 18.83%;
    top: 32px;

    .sign {
      top: 25%;
      left: 5px;
      display: flex;
      align-items: center;
      @include text
    }

    .numbers-x {
      left: 8.8%;
      @include text;
      @include widthNumber;
    }

    .line {
      left: 82.2%;
      top: 50%;
      width: 16%;
      height: 2px;
    }

    .numbers-y {
      left: 8.8%;
      top: 50%;
      @include text;
      @include widthNumber;
    }

    .result {
      left: 8.8%;
      top: 25%;
      @include text;
      @include widthNumber;
    }
  }

  .numbers {
    width: 92.26%;
    height: 65.30%;
    top: 28%;
    gap: 10px;

    .num {
      width: 100%;
      height: 100%;

      p {
        @include text;
      }
    }

    .num:nth-child(12) {
      height: 100%;
    }
  }
}