@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
// color variables
$backgroud:#ecf0f1;
$calculatorBackground:#27105d;
$calculatorBorder:#0e0521;
$calculatorInnerShadow:rgba(76,44,149,0.7);
$displayBackground:#eee7ff;
$bottonBackground:#cebaff;
$bottonBackgroundC:#a987fd;
$bottonBackgroundSame:#f3eeff;
$bottonInnerShadow:rgba(0,0,0,0.5);
$letterBotton:#110039;
$letterBottonC:#000000;
$singDisplay:rgba(17,0,57,0.65);
$lineColor:rgba(0,0,0,0.59);